html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px auto 50px;
  grid-template-areas: "header" "main" "footer";
}
header {
  background: linear-gradient(to right, #09203f, #537895);
  background-size: cover;
}
footer {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #e0e8f0);
}
h1,
h2 {
  color: #fff;
}
div img {
  width: 300px;
}
p a {
  vertical-align: middle;
}
p img {
  width: 30px;
}
.top-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem;
}
.round-picture {
  width: 200px;
  border-radius: 50%;
}
.auto-write h2 {
  overflow: hidden;
  border-right: 0.15em solid #09203f;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #09203f;
  }
}
.main-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.info-box {
  width: 300px;
  background-color: #e0e8f0;
  padding: 1rem;
  border-radius: 10px;
}
